*,
*::before,
*::after{
	box-sizing: border-box;
}

html,
body{
	height: 100%;
}

body{
	margin: 0;
}

img,
svg,
video,
canvas{
	display: block;
	max-width: 100%;
}

button,
input,
textarea,
select{
	font: inherit;
	color: inherit;
}

a{
	color: inherit;
	text-decoration: none;
}
